<div class="row flip-in" ng-repeat="row in grid track by $index">

	<div class="col text-center" ng-repeat="tile in row track by $index"  ng-animate-children>

		<div class="tile-container" ng-class="{flipped: tile.flipped, matched: tile.matched}" ng-click="flipTile(tile)">
			<div class="flipper">
				<div class="front">
			 		<button class="button button-custom active {{'button-'+settings.theme}}">
						<i class="icon ion-heart"></i>
					</button>
				</div>
				<div class="back">
			 		<button class="button button-custom {{'button-'+settings.theme}} custom-button">
						<!--<i class="icon" ng-class="tile.title"></i>-->
						<img src="./img/{{tile.title}}" style="width: 100%; height: 100%;"></img>
					</button>
				</div>
			</div>
		</div>

	</div>

</div>