<div id="proposal-modal" class="modal" ng-controller="ProposalCtrl">

    <ion-header-bar class="bar bar-header" ng-class="'bar-'+settings.theme">
        <h1 class="title">Nuestra decisión</h1>
        <button class="button button-clear" ui-sref="home" >Cerrar</button>
    </ion-header-bar>

    <ion-content has-header="true">
        <div class="padding">

            <div class="list">

                <div class="item item-divider">
                    TE AMO PIA
                </div>

                <div class="container">
                    "No se por donde empezar, weno si se pero no wua decir ... JAJAJA :p ... Estoy nervioso amor y no es que no tenga mucho que
                    decir ej que te amo miamor SI EN SERIO TE AMO y es tan rico saber que este amor no es una emoción nada
                    mas, este amor es una decisión y un sentimiento compatido, este amor es algo que los dos creamos y no
                    se dió por arte de magia, este amor que siento por me ha hecho crecer y me ha hecho ser mas fuerte cada
                    dia, me ha enseñado a ser muchas cosas que no era, me ha enseñado a ser mejor persona en muchos aspectos
                    de mi vida que ignoraba cuando no te conocia, este amor me enseñó que AMAR no solo es sentir atracción
                    fisica por alguien y ya, o tener un sentimiento bien profundo por alguien, este amor me enseñó que 2
                    son mejor que 1, me enseñó a valorar el tiempo de calidad con las personas que realmenten importan en
                    la nuestra vida, TE AMO, así de simple y solo quiero que sepas que lo quiero hacer por el resto de mi
                    vida...";
                </div>

                <div class="container">
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <br/>.
                    <h3>"¿Te gustaría ser el compilador de mi código? . . En otras palabras . . </h3>
                    <br/>
                    <h3><strong>¿ME HARIA EL HONOR DE SER MI ESPOSA?"</strong></h3>
                    <br/>
                    <button class="button button-full button-positive" ng-click="SIIIIII()">SIIIIII</button>
                    <button class="button button-full button-royal"  ng-click="SIIIIII()">SIIIIII</button>
                    <button class="button button-full button-calm" ng-click="SIIIIII()">SIIIIII</button>
                    <button class="button button-full button-balanced" ng-click="SIIIIII()">SIIIIII</button>
                    <button class="button button-full button-danger" ng-click="BUUU()">NO BUUU :'(</button>
                </div>

            </div>

        </div>
    </ion-content>

</div>